<div class="course-container">

    <div class="hero-banner">
        <h1 class="main-header">WEBBUTVECKLING</h1>
        <p class="sub-header">Ramschema för Webbutvecklings-programmet</p>
    </div>

    <div class="search-filter-section">
        <div class="search-box">
            <label for="search" class="search-label">Sök på en kurs:</label>
            <input type="text" id="search" placeholder="Sök på kurskod eller kursnamn" [ngModel]="searchTerm()"
                (ngModelChange)="searchTerm.set($event)" class="search-input">
        </div>
    </div>

    <table class="course-table">
        <thead>
            <tr>
                <th (click)="changeSort('code')" style="cursor: pointer">
                    Kurskod
                    @if (sortKey() === 'code') { {{ sortAscending() ? '▲' : '▼' }} }
                </th>
                <th (click)="changeSort('coursename')" style="cursor: pointer" class="left">
                    Kursnamn
                    @if (sortKey() === 'coursename') { {{ sortAscending() ? '▲' : '▼' }} }
                </th>
                <th (click)="changeSort('progression')" style="cursor: pointer">
                    Progression
                    @if (sortKey() === 'progression') { {{ sortAscending() ? '▲' : '▼' }} }
                </th>
                <th>Kursplan</th>
            </tr>
        </thead>
        <tbody>
            @for (course of filteredCourses(); track course.code) {
            <tr>
                <td>{{ course.code.toUpperCase() }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
                <td>
                    <a [href]="course.syllabus" target="_blank" rel="noopener noreferrer" class="syllabus-link">
                        Visa Kursplan
                    </a>
                </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="3" style="text-align: center;">Inga kurser hittades.</td>
            </tr>
            }
        </tbody>
    </table>
</div>